html {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

form {
    font-size: 1rem;
    color: #999;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form,
main {
    padding: 1rem 2rem;
}

input {
    border: none;
    border-bottom: 1px solid cornflowerblue;
    font-size: inherit;
    color: #333;
    padding: 0 0.5rem;
    outline: none;
}

button {
    font-size: inherit;
    color: #333;
}

.content {
    font-weight: 300;
}

.output {
    font-weight: 700;
}

   